{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gestion des Inscriptions{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="header">
        <h1>Gestion des Inscriptions</h1>
        <nav>
            <ul>
                <li><a href="{% url 'dashboard' %}">Accueil</a></li>
                <li><a href="{% url 'ajouter_inscription' %}">Ajouter inscription</a></li>
                <li><a href="{% url 'audit_inscription' pk=1 %}">Audit</a></li>
                <li style="float: right;"><a href="{% url 'logout' %}">Se déconnecter</a></li>
            </ul>
        </nav>
    </div>

    <div class="container">
        {% block content %}
        <!-- Le contenu spécifique aux pages qui étendent ce modèle sera ici -->
        {% endblock %}
    </div>

    <script src="{% static 'js/observer.js' %}"></script>
</body>
</html>
